.table {
  width: 100%;
  border-collapse: collapse;
}

.header {
  display: flex;
  align-items: center;
  padding: 4px 16px;
  font-weight: bold;
  border-bottom: 2px solid #e0e0e0;
}

.row {
  display: flex;
  align-items: center;
  padding: 4px 16px;
  border-bottom: 1px solid #e0e0e0;
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 4px;
    li {
      margin: 0;
      padding: 0;
      a {
        display: block;
        text-decoration: none;
        color: inherit;
        border-radius: 10px;
        padding: 10px;
        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
}

.cell {
  flex: 1;
  padding: 4px;
  text-align: left;
  &.actions {
    flex: 0 0 auto;
    width: 120px; /* Adjust width as needed */
    text-align: center;
  }
}
