body{
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.sx{
  color: #616161;
  margin-left: 30px;
}

.dx {
  color: #dd731c;
  margin-left: 30px;
}

.sx:hover{
  background-color: #dd731c;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.dx:hover{
  background-color: #dd731c;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.left{
  display: flex;
  justify-content: space-between;
}

.right{
  display: flex;
  justify-content: space-between;
}

.logo{
  height: 50px;
}

.icona{
  height: 70px;
}

.profilo-inizio{
  display: flex;
  margin-top: 30px;
  padding: 8px;
  justify-content: start;
  width: 40%;
  align-items: start;
  border: 2px solid #dd731c;
  border-radius: 10px;
}

.contorno{
  display: flex;
  align-items: center;
}

.containername{
  display: flex;
  justify-content: center;
}